*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #E5E5E5;
    font-family: 'RUBIK';
}

.header__sidebar{
    width: 100px;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    transition: 1s;
    overflow: hidden;
    position: fixed;
    left: 0%;
    top: 0%;
}

.header__sidebar:hover{
    width: 234px;
}

.logo{
    font-size: 50px;
    color: #2A86B1;
    margin-left: 20px;
}

.header__ava{
    margin-left: 15px;
}

.header__list{
    margin-left: 30px;
    list-style: none;
}

.header__link{
    text-decoration: none;
    color: #939393;
    display: flex;
    align-items: center;
    margin-bottom: 55px;
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 18px;
    transition: 0.1s;
}

.header__link:hover{
    color: #2A86B1;
}

.header__icon>i{
    font-size: 40px;
    margin-right: 30px;
    width: 40px;
    display: flex;
    justify-content: center;
}

/* ==== header tugadi ===== */
/* ==== main boshlandi ==== */

.container{
    max-width: 1110px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.welcome{
    height: 500px;
    background-color: white;
    background-image: url(../image/main_bg.png);
    border-radius: 10px;
    margin-top: 30px;
    padding-left: 62px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.welcome__title{
    font-family: 'Rubik';
    font-size: 50px;
    color: #464748;
    width: 335px;
}

.welcome__text{
    font-family: 'Rubik';
    font-weight: 400;
    color: #696868;
    width: 315px;
    text-align: justify;
    line-height: 19px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.button{
    width: 211px;
    height: 33px;
    background: #3FA5D5;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
}

.button:active{
    width: 208px;
    height: 30px;
}
.componet{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.componet__item{
    width: 255px;
    height: 338px;
    background: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.componet__title{
  color: #2A86B1;
  font-size: 20px;
}
.componet__item>i{
    color: #3FA5D5;
    font-size: 100px;
}
.category__content{
    width: 825px;
}
.category__title{
    color: #686868;
    font-size: 20px;
    margin-left: 18px;
    margin-bottom: 22px;   
}
.category{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    height: max-content;
    
}
.category__text{
    height: 124px;
    background: white;
    border-radius: 8px;
    padding: 15px;
    font-weight: 400;
    color: #545454;
    font-size: 16px;
    line-height: 19px;
    text-align: justify;   
}
.category__text_size{
    height: 144px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.category__block{
    width: 255px;
   
}
.category__item{
    width: 100%;
}
.category__info{
    height: 94px;
    background: white;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 15px;
    margin-top: 15px;
}
.category__head{
    font-weight: 400;
    font-size: 17px;
    color: #323232;
    margin-bottom: 5px;
}
.category__body{
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
}
.category__comment{
    margin-left: 15px;
}
.footer{
    height: 142px;
    background: #3FA5D5;
    margin-top: 44px;
    display: flex;
    align-items: center;
}
.footer__title{
    font-size: 50px;
    color: white;
}
.footer__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__list{
    list-style: none;
}
.footer__link{
    color: white;
    text-decoration: none;
    font-weight: 400;
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    font-size: 18px;
}
